.registration-form-descr {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 16px;
}
.registration-form-descr::before,
.registration-form-descr::after {
  display: block;
  content: "";
  width: 15px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #323546;
  height: 1px;
  transform: translateY(0.7rem);
}
.registration-form-checkbox {
  color: #fff;
  font-size: 15px;
}
.registration-form-checkbox .css-dev-only-do-not-override-xsuzon {
  align-self: flex-start;
}
.registration-form-footer {
  font-size: 12px;
  font-weight: 500;
  color: #a1a7bb;
  text-align: center;
}
